body {
    background-color: #282B38;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-evenly;
    padding: 1.25rem 0 1.25rem 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 2rem;
}

.navbar-header .navbar {
    text-decoration: none;
    color: #fff;
}

.navbar-header .navbar:hover {
    color: #E58D35;
}

.btn {
    color: #fff;
    background-color: #E58D35;
    padding: 0.87rem 1.69rem;
    border-radius: 2.5rem;
    border: 0;
    cursor: pointer;
}

.btn:hover {
    background-color: #c56200;
}
/* Header */

/* Slider */
.slider {
    max-width: 90vw;
    padding-left: 3rem;
}
.slider-image {
    background-image: url("Images/Slider-img.png");
    background-position: center;
    background-size: cover;
    border-radius: 1.25rem;
    width: 100%;
    height: 30rem;
}

.slider-in {
    width: 40%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-left:  17rem;
    padding-top: 6rem;
}

.slider-title {
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
}

.slider-text {
    color: #fff;
}
/* Slider */

/* Calculator */
.calc {
    color: #fff;
    max-height: 60rem;
    max-width: 70vw;
    display: grid;
    grid-template-areas: 
        'text text'
        'steps calc-img';
    margin-top: 3rem;
}

.calc-img {
    width: 30rem;
    height: 50rem;
    grid-area: calc-img;
    align-self: center;
}

.calc .text {
    font-size: 2.25rem;
    font-weight: 700;
    max-width: 70vw;
    margin-left: 5rem;
}

.calc span em {
    font-style: normal;
    margin-right: 2.5rem;
}

.calc span a {
    color: #E58D35;
}

#delete {
    color: red;
    margin-left: 19rem;
}

.text {
    grid-area: text;
}

.steps .step {
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
}

.steps {
    grid-area: steps;
    width: 39rem;
    height: 29rem;
    display: grid;
    grid-template-areas: 
        'step-1 step-2'
        'step-3 step-4'
        'variants step-5'
        'add-img add-img';
    margin: 3rem 0 0 5rem;
    background-color: #363A4D;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    font-size: 0.85rem;
    border-radius: 2rem;
}

.step-1, .step-2, .step-3, .step-4, .step-5 {
    display: flex;
    flex-direction: column;
}

.step-1 {
    grid-area: step-1;
}

.step-2 {
    grid-area: step-2;
}

.step-3 {
    grid-area: step-3;
}

.step-4 {
    grid-area: step-4;
}

.step-5 {
    grid-area: step-5;
}

.variants {
    grid-area: variants;
}

.add-img {
    grid-area: add-img;
}

.btn-calc {
    grid-area: btn-calc;

}

.add-img > input {
    width: 15rem;
    height: 3.5rem;
    border: #fff 1px solid;
}
/* Calculator */

/* Advantages */
.advantages {
    color: #fff;
    max-width: 90vw;
    margin: 0 auto;
    background-color: #363A4D;
    border-radius: 2rem;
}

.advantages > h1 {
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
}

.advantages .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 3rem;
    text-align: center;
}

.cards img{
    background-color: #89C249;
    padding: 1.5rem;
    border-radius: 3rem;
    width: 2rem;
    height: 2rem;
}

